#about-section  p {
	font-family:Sans-Serif;
	font-size:17px;
	font-style:normal;
	text-align:justify;
	text-justify:inter-word;
	
}

.education
{
	font-family:Sans-Serif;
	font-size:17px;
	font-style:normal;
	text-align:justify;	
	
}




#projects ul li a
{
	font-family:Sans-Serif;
	font-size:17px;
	font-style:normal;
	text-align:justify;		
}

body
{
	background-color:#ccebff;
}


a:unvisited {
	color:purple;
}

a:visited {
	color:blue;
}

a:hover {
	color:red;
}


