body{
    margin: 0;
    padding: 0;
    background-color: rgb(253, 229, 253);
    background-image: url(rsbk.jpg);
    background-size: cover;
}

div{
    color: black;
}

.info{
    text-align: center;
    
}

.image{

    margin-top: 350px;
    margin-left: 500px;
}

.skills{
    margin-left: 120px;
}

.project{
    text-align: left;
    margin-left: 120px;
    color: black;
}
.hobb{
    margin-left: 120px;
}
a{
    color: black;
}
hr{
    border: 1px solid;
}